@import "tailwindcss";
@import "tailwindcss/utilities";

@layer utilities {
  .bg-orange-gradient {
    background-image: linear-gradient(90deg, #FAA533, #EF7722);
  }
}

@theme {
    --color-primary: #1F2937;
}


/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE, Edge เก่า */
* {
  -ms-overflow-style: none;
}